/*:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*/
body {
  font-family: 'Kumbh Sans', sans-serif !important;
  background-color: var(--dark-cyan) !important;
  background-image: url("../img/theme/bg-pattern-top.svg"), url("../img/theme/bg-pattern-bottom.svg") !important;
  background-repeat: no-repeat, no-repeat !important;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh !important;
}

.flex {
  display: -webkit-box  !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  height: 50vh !important;
}

.card {
  background-color: white !important;
  width: 326px !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important;
}

.card-header {
  width: 100% !important;
  display: block !important;
}

.card-body {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  border-bottom: 1px solid rgba(153, 153, 153, 0.383) !important;
}

.card-body-img {
  width: 200px !important;
  height: 200px;
  border: 5px solid white !important;
  border-radius: 50% !important;
  margin-top: calc(-100px - 5px) !important;
  background-color: white !important;
}

.card-body-title {
  margin-top: 2rem !important;
  font-size: 1.8rem !important;
  text-transform: capitalize !important;
}

.card-body-title span {
  color: var(--dark-gray) !important;
  font-weight: 400 !important;
}

.card-body-text {
  color: var(--dark-gray) !important;
  font-size: 1.6rem !important;
  margin-top: 0 !important;
  margin-bottom: 2rem !important;
}

.card-footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.card-footer-social {
  text-align: center !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.card-footer-social p {
  letter-spacing: 1px !important;
}

.dropdown-menu {
    min-width: 20rem !important;
    padding: 0 0 0 10px !important;
}
/*# sourceMappingURL=estilos.css.map */